*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
}
.formulario{
    font-family: 'Noto Serif Khojki', serif;
    text-align: center;
    background-color: khaki;
    height: 50vh;
}
.lottie{
    background-color: rgb(84, 148, 62);
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}